﻿@{
    ViewData["Title"] = "Contact";
}

 <style>

        h2 {font-family: Sunrise International Demo}

        p {font-family: Rounded Elegance; font-size: large}

        img{
            float: left;            
            position: inherit;            
            margin-right: 30px;
            margin-bottom: 30px;
            height: 580px;
            width: auto;

        }

</style>

<br>

<h1 class="titulos">Contact Me</h1>

<br>

<div>
    <img src="/images/OscarF.jpeg"/>    

    <h2>My information:</h2>
    <p>Full name: Oscar Esteban Juarez Paz</p>
    <address>
        Guatemala, Ciudad de Guatemala<br />
        Carretera a El Salvador, Fraijanes<br />
        <abbr title="Phone">P:</abbr>
        +502 84561564 
    </address>

    <address>
        <strong>Email:</strong> <a href="mailto:ojuarez_p@hotmail.com">ojuarez_p@hotmail.com</a><br />
        <strong>Alternative email:</strong> <a href="mailto:jua17315@uvg.edu.gt">jua17315@uvg.edu.gt</a>
    </address>    

</div>

<div style="clear:left">
    <hr>
    <h2>Leave your comments here:</h2>
    <br>
    <textarea id='texto' cols="30" rows="5" style="margin: 0px 78px 20px 0px; width: 90%; height: 278px;"></textarea>
    <br>
    <a href="mailto:jua17315@uvg.edu.gt">
    <button type="button" value="Clear" onclick="javascript:borrarTexto();" >Send</button>
    </a>
</div>

