﻿@{
    ViewData["Title"] = "My CV";
}

<html>
    <head>
        <title> Mi primera pagina web </title>
        <link rel="stylesheet" href="~/css.site.css" asp-append-version="true">
    </head>

    <style>
        

    </style>

    <body>        

        <div class="imagenFondo">        
            <br><br><br>
            <h1 class="titulos">OSCAR JUAREZ</h1>
            <h4 class="titulos">- MY FIRST WEB PAGE -</h4>            
        </div>

        <hr>

        <div>
            <h1 class="titulos"> My Curriculum Vitae </h1>
            <br>
        </div>

        <div class="cuadroColor">
            <picture>                
                <source class="imagenRedonda" media='(min-width: 401px)' srcset='/images/Oscar-F-P.jpg'/>
                <source class="imagenRedonda" media='(max-width: 400px)' srcset='/images/OscarF.jpg' style="width: 100%"/>
                <img class="imagenRedonda" src="/images/Oscar-F-P.jpg"/>                 
            </picture>
            <h2>Oscar Esteban Juarez Paz</h2>
            <p><b>Age:</b>
            19 years old
            <br><br>
            - Engineer in computer science and information technologies
            <br><br>
            - My professional goal is to develop myself as an engineer in computer science and contribute my knowledge as a 
            programmer in the software area.
            </p>
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-md-4">

                <div class="">
                    <h2>Academic training</h2><br>
                </div>

                <p class="arrow_box"><b>2011-2016</b></p>

                <p><b>Bachelor of Science and Letters</b></p> <br>
                <p>- I graduated with honors from Colegio Internacional de Guatemala in 2016.</p>

                <br>

                <p class="arrow_box"><b>2017-2022</b></p>

                <p><b>Engineer in computer science and information technologies</b></p>
                <p>- Even though I haven't finished yet, i'm currently studying in Universidad del Valle de Guatemala as a computer engineer</p>

                <br>

                <p class="arrow_box"><b>2017</b></p>

                <p><b>Microsoft Certified Specialist with HTML5, JS and CSS</b></p>
                <p>- In mid-year vacation, I recieved a web developer course instructed by specialist Microsoft agents and got certified from it.</p>
            </div>

            <div class="col-md-4">
                <h2 style="text-align:center;">Profeciency</h2> <br>

                <p style="text-algin:justify;">My professional development is focused mainly in computer science. I've performed many applications and programs as a software
                    developer and created a varsity of designs. I have a great hability of learning by myself, colaborate with different people, 
                    create original content, and solve easy or hard problems in the most satisfactory way.</p>
            </div>

            <div class="col-md-4">

                <h2>Languages I know</h2>
                <br>

                <p style="float: left">Spanish:    </p>

                <ul class="listaCV">
                    <li><p class="circle"></p></li>
                    <li><p class="circle"></p></li>
                    <li><p class="circle"></p></li>
                    <li><p class="circle"></p></li>
                    <li><p class="circle"></p></li>
                </ul>

                <p style="float: left">English:    </p>

                <ul class="listaCV">
                    <li><p class="circle"></p></li>
                    <li><p class="circle"></p></li>
                    <li><p class="circle"></p></li>
                    <li><p class="circle"></p></li>
                    <li><p class="emptyCircle"></p></li>
                </ul>

                <p style="float: left">Portuguese: </p>

                <ul class="listaCV">
                    <li><p class="circle"></p></li>
                    <li><p class="circle"></p></li>
                    <li><p class="emptyCircle"></p></li>
                    <li><p class="emptyCircle"></p></li>
                    <li><p class="emptyCircle"></p></li>
                </ul>

                <p style="float: left">Computer:   </p>

                <ul class="listaCV">
                    <li><p class="circle"></p></li>
                    <li><p class="circle"></p></li>
                    <li><p class="circle"></p></li>  
                    <li><p class="emptyCircle"></p></li>
                    <li><p class="emptyCircle"></p></li>     
                </ul>
            </div>
        </div>

    <br><hr><br>

    <h1 class="titulos">My Skills</h1>

<br><br>

<div class="row">
    <div class="col-md-6">
        <h2>Programming</h2> <br>

        <p>Application programming:</p>

        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:70%"></div>
        </div>

        <p>Web programming:</p>

        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:60%"></div>
        </div>

        <p>Game developing:</p>

        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:20%"></div>
        </div>  
    </div>      
            
    <div class="col-md-6">
        <h2>Digital Designing</h2> <br>

        <p>Realism</p>

        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:80%"></div>
        </div>      

        <p>Advertisement</p>

        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:70%"></div>
        </div>  

        <p>Web design:</p>

        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:50%"></div>
        </div>

        <p>Cartoon/Animation:</p>

        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%"></div>
        </div>

    </div>
    
</div>

<br><br> 

<h2>Some personal skills:</h2>

<br><br>

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Adaptacion.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="-webkit-text-fill-color: yellow"> Adpatation. I adapt to changes very easily</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Autodidacta.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p style="-webkit-text-fill-color: yellow"> Self-taught person. I'm able to learn pretty fast and by myself.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Responsable.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>I'm a responsible and organized person. I always give my very best.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Programar.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>Persistence. Once I start something I like, I'll never give up until I finish it.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br><br> 

<button type="button" value="Mostrar" onclick="javascript:verificarDispositivo();">Show device</button>

<br><br>

<div id="dispositivo" style="opacity:0">
    <h2>Div oculto</h2>
    <br>
    <p>
        <output type="text" id="respuesta" style="font-size:large">
    </p>
</div>

<br>

    </body>
</html>
