﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
}


/* Wrapping element */


/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Carousel */

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}


/* QR code generator */

#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */

@media screen and (max-width: 499px) {
    .carousel-caption {
        display: none;
    }
    .imagenRedonda {
        float: none;
    }
    .cuadroColor {
        text-align: center;
        align-content: center;
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    }
    [class*="col-"] {
        width: 100%;
    }
    logo {
        text-align: center;
    }
    nav {
        text-align: center;
        padding: 15px;
        padding-right: 10%;
    }
    nav li {
        display: inline-block;
        margin-left: 50%;
        padding-top: -6px;
        position: relative;
    }
    p {
        font-size: medium;
    }
    header {
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    }
    .arrow_box {
        background: #5591d5;
        border: 4px solid #60b9f5;
    }
    .arrow_box:after,
    .arrow_box:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .arrow_box:after {
        border-color: rgba(85, 145, 213, 0);
        border-left-color: #5591d5;
    }
    .arrow_box:before {
        border-color: rgba(96, 185, 245, 0);
        border-left-color: #60b9f5;
    }
}


/* Propiedades para el diseno de tablet */

@media only screen and (min-width: 500px) {
    .col-md-4 {
        width: 50%;
        float: left;
    }
    .cuadroColor {
        background: #62D2A2;
    }
    p {
        font-size: large;
    }
    header {
        background: linear-gradient(to right, rgb(17, 153, 142), rgb(56, 239, 125));
    }
    .arrow_box {
        background: #62D2A2;
        border: 4px solid #1FAB89;
    }
    .arrow_box:after,
    .arrow_box:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .arrow_box:after {
        border-color: rgba(98, 210, 162, 0);
        border-left-color: #62D2A2;
    }
    .arrow_box:before {
        border-color: rgba(31, 171, 137, 0);
        border-left-color: #1FAB89;
    }
}


/* Propiedades para el diseno de escritorio */

@media only screen and (min-width: 769px) {
    .col-md-4 {
        width: 33%;
    }
    .cuadroColor {
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    }
    p {
        font-size: large;
    }
    header {
        background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    }
    .arrow_box {
        background: #5591d5;
        border: 4px solid #60b9f5;
    }
    .arrow_box:after,
    .arrow_box:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .arrow_box:after {
        border-color: rgba(85, 145, 213, 0);
        border-left-color: #5591d5;
    }
    .arrow_box:before {
        border-color: rgba(96, 185, 245, 0);
        border-left-color: #60b9f5;
    }
}


/* Opciones Parallax */

.imagenFondo {
    background-image: url('../images/Oscar-Parallax-Alto.jpg');
    position: relative;
    height: 720px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.titulos {
    color: gold;
    font-family: 'Lemon/Milk', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
    text-align: center;
}

.imagenRedonda {
    border-radius: 25px;
    margin-right: 30px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 23px -6px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 1px 23px -6px rgba(0, 0, 0, 1);
    box-shadow: 0px 1px 23px -6px rgba(0, 0, 0, 1);
    float: left;
}

.cuadroColor {
    padding: 20px;
    padding-bottom: 70px;
    position: relative;
    object-fit: cover;
    box-sizing: inherit;
    -webkit-box-shadow: 12px 17px 68px -16px rgba(0, 0, 0, 1);
    -moz-box-shadow: 12px 17px 68px -16px rgba(0, 0, 0, 1);
    box-shadow: 12px 17px 68px -16px rgba(0, 0, 0, 1);
}

.arrow_box {
    margin-right: 30px;
    width: 22%;
    position: relative;
    float: left;
}

.arrow_box:after {
    border-width: 20px;
    margin-top: -20px;
}

.arrow_box:before {
    border-width: 26px;
    margin-top: -26px;
}

.listaCV {
    list-style-type: disc;
}

header {
    display: block;
    border-bottom: 3px solid grey;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    padding: 7px;
    padding-right: 50px;
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 80px;
    padding-top: 12px;
    padding-left: 40px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover {
    color: #000;
}

nav a:hover::before {
    width: 100%;
}

.logo {
    padding-left: 0%;
    font-size: 40px;
}

h2 {
    font-family: Sunrise International Demo, arial;
}

p {
    font-family: Rounded Elegance, arial;
}

html {
    height: 100%
}

section {
    background-color: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

ul.listaCV {
    list-style-type: circle;
}

.circle {
    background: linear-gradient(141deg, #b8b50f 0%, #c8db1f 51%, #e5e82c 75%);
    text-align: right;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.emptyCircle {
    background: transparent;
    text-align: right;
    position: absolute;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    border: 1px solid grey;
}

ul li {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
}